streamlit
pinecone-client
langchain
langchain-openai
langchain-pinecone
langchain-community
langchain-text-splitters
langchain-google-genai
langchain-anthropic
openai
audio-recorder-streamlit
pypdf
docx2txt
tiktoken
apscheduler
firebase-admin
