streamlit
   firebase-admin
   bcrypt
   cryptography
   langchain
   langchain-openai
   langchain-anthropic
   langchain-google-genai
   langchain-pinecone
   pinecone-client
   pypdf
   openai
   apscheduler
